cell-width = 30px
num-cells = 20;
size = (num-cells * cell-width)

.board
  margin 0 auto
  position relative
  height size
  width size
  background black
  line-height 0
  outline none

.paused
  &:after
    content 'Paused'
    text-align center
    padding-top 50%
    font-size 70px
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background transparentify(black, 50%)
    color white


.cell
  background black
  width cell-width
  height cell-width
  display inline-block

.cell-body
.cell-food
  @extends .cell

.cell-body
  background green

.cell-food
  @extends .cell
  background yellow
  border-radius 50%
